<div class="container">

    <h3 class="text-muted"><i class="fa-solid fa-briefcase"></i> &nbsp; {{'menu.label.experience' | translate}}</h3>
    <hr>

    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">Fata Informatica Srl, Roma</h5>
            <h6 class="card-subtitle mb-2 text-muted">APRILE 2021-PRESENTE</h6>
            <hr>
            <div class="m-3">
                <p class="card-text">
                    <small>Sviluppatore front end e back end (Spring Boot, Angular, PL/SQL)</small>
                </p>
                <ul>
                    <li><small>Analisi, progettazione e sviluppo portali web</small></li>
                    <li><small>Sviluppo CRUD per interazioni con database</small></li>
                    <li><small>Pianificazione e gestione autonoma attività di sviluppo full stack e messa on line</small></li>
                    <li><small>Analisi base dati e collaudo procedure PL/SQL per implementazione dati</small></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">Poste Italiane</h5>
            <h6 class="card-subtitle mb-2 text-muted">FEBBRAIO 2021 - APRILE 2021</h6>
            <hr>
            <div class="m-3">
                <p class="card-text">
                    <small>Stage sviluppatore back-end (Spring Boot)</small>
                </p>
                <ul>
                    <li><small>Sviluppo CRUD per interazioni con database</small></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">Realizzazione e gestione siti web</h5>
            <h6 class="card-subtitle mb-2 text-muted">MARZO 2020- APRILE 2021</h6>
            <hr>
            <div class="m-3">
                <p class="card-text">
                    <small>WordPress Designer freelance</small>
                </p>
            </div>
        </div>
    </div>

    <div class="card mt-3 mb-5">
        <div class="card-body">
            <h5 class="card-title">MPO; OGI; Youth Orchestra TOR; ONCI</h5>
            <h6 class="card-subtitle mb-2 text-muted">2016-19</h6>
            <hr>
            <div class="m-3">
                <p class="card-text">
                    <small>Contrabbassista di fila</small>
                </p>
            </div>
        </div>
    </div>
</div>