<div class="container mb-4">
    <h3 class="text-muted"><i class="fa-solid fa-envelope"></i> &nbsp; {{'menu.label.contact' | translate}}</h3>
    <hr>
</div>

<div class="container">
    <app-form [formItems]="formItems" [submitText]="submitText" [payload]="payload" (emitPayload)="sendMail($event)"></app-form>
</div>

<div class="container mb-5">
    <div class="row justify-content-around">
        <div class="col-12 text-center p-3" *ngFor="let item of socials">
            <a [href]="item.href">
                <i [class]="item.icon + ' fa-xl'"></i>
            </a>
        </div>
    </div>
</div>

<app-modale [action]="actionModale" [message]="messageModale" [type]="typeModale"></app-modale>