<div class="modal fade" id="modalDialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">{{action | translate}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>{{message | translate}}</p>
        </div>
        <div class="modal-footer">
            <button type="button" [class]="'btn btn-' + type + ' text-light'" 
                data-bs-dismiss="modal">{{'modale.close' | translate}}</button>
        </div>
        </div>
    </div>
</div>